* {
    top: 0;
    margin: 0;
    padding: 0;
}

body {
    background-color: #babae0;
    font-family: Arial, sans-serif;
  }

  header {
    height:5vh;
    color: #dfdffc;
    background-color: #434363;
    padding: 2%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

.calculator {
    width: 30%;
    margin: 5% auto ;
    padding: 50px;
    border: 2px solid #d1cccc;
    border-radius: 5px;
    background-color: #dcdcec;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h2 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #1c1c27;
}

p {
    text-align: center;
}

.answer-box {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #c4aa98;
    border-radius: 25px;
    background-color: #f1f1fb;
    font-size: 20px;
    text-align: center;
}